body{
    text-align:center;
    background-color:green;
    color:yellow;
}
section{
    border-width:2px;
    width:70%;
    border-style:solid;
    border-color:blue;
    padding:10px;
    margin:auto;
    margin-bottom:10px;
    text-align:center;
}
.Offence{
    border-color:purple;
}
.Defence{
    border-color:orange;
}
hr{
    width:50%;
}